{{ define "main"}}
<script id="glance-cobrowse" type="text/javascript"
src="https://beta.glancecdn.net/cobrowse/CobrowseJS.ashx?group=21355&site=production"
data-inputevents='{"ctrl-13":"showButton","shift-13":"startSession"}'
data-groupid="21355" data-site="production"
data-cookiedomain="https://flexotter.onrender.com"
data-presence="on" data-visitorid="75001234" data-ws="beta.glance.net" agentvideo=1 charset="UTF-8"></script>
    <main id="main">
      <div>
       <h1 id="title">Sorry page not found.</h1>
       <p>Use the top navigation to find what you're looking for or <a href="{{ "/" | relURL }}">go to the homepage</a>.</p>
      </div>
    </main>
<style type='text/css'>
.embeddedServiceHelpButton .helpButton .uiButton {
    background-color: #005290;
    font-family: "Arial", sans-serif;
}

.embeddedServiceHelpButton .helpButton .uiButton:focus {
    outline: 1px solid #005290;
}
</style>
<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
var initESW = function(gslbBaseURL) {
    embedded_svc.settings.displayHelpButton = true;
    embedded_svc.settings.language = '';












    embedded_svc.settings.enabledFeatures = ['LiveAgent'];
    embedded_svc.settings.entryFeature = 'LiveAgent';
    var visitor;

    function messageListener(e) {
        if (typeof e.data === 'string' && e.data.indexOf('startSession') == 0) {
            var key = e.data.split(':')[1];
            GLANCE.Cobrowse.Visitor.startSession(key);
        }
        if (e.data) {
            if (e.data.data) {

                if (e.data.data.event == 'chasitorChatEstablished') {
                    if (e.data.data.chasitorData) {
                        var visitorid = e.data.data.chasitorData.chatKey.replace(/-/g, '');
                        console.log('Chat Start - visitorid=' + visitorid);
                        visitor = new GLANCE.Presence.Visitor({
                            groupid: 20885,
                            visitorid: visitorid
                        });
                        visitor.connect();
                    }
                }

                else if (e.data.method == 'liveagent.restored') {
                    if (e.data.data.chasitorSessionData) {
                        var visitorid =
                            e.data.data.chasitorSessionData.chatKey.replace(/-/g, '');
                        console.log('Chat Restart - visitorid=' + visitorid);
                        visitor = new GLANCE.Presence.Visitor({
                            groupid: 20885,
                            visitorid: visitorid
                        });
                        visitor.connect();
                    }
                }

                else if (e.data.data.event == 'chasitorIdleTimeout') {
                    if (visitor) {
                        visitor.disconnect();
                        GLANCE.Cobrowse.Visitor.stopSession();
                    }
                }

                else if (e.data.data.event == 'chasitorAgentChatEnded' || e.data.data.event == 'chasitorChasitorChatEnded') {
                    if (visitor) {
                        console.log('Chat End');
                        visitor.disconnect();
                        GLANCE.Cobrowse.Visitor.stopSession();
                    }
                }
            }
        }
    }
    if (window.addEventListener) {
        addEventListener('message', messageListener, false);
    } else {
        attachEvent('onmessage', messageListener);
    }
    embedded_svc.init(
        'https://chasedemo.my.salesforce.com',
        'https://chasedemo.secure.force.com/liveAgentSetupFlow',
        gslbBaseURL,
        '00D6g0000025fMr',
        'Sales', {
            baseLiveAgentContentURL: 'https://c.la1-c2-ia5.salesforceliveagent.com/content',
            deploymentId: '5726g000000U77j',
            buttonId: '5736g000000U7oE',
            baseLiveAgentURL: 'https://d.la1-c2-ia5.salesforceliveagent.com/chat',
            eswLiveAgentDevName: 'Sales',
            isOfflineSupportEnabled: true
        }
    );
};
if (!window.embedded_svc) {
    var s = document.createElement('script');
    s.setAttribute('src', 'https://chasedemo.my.salesforce.com/embeddedservice/5.0/esw.min.js');
    s.onload = function() {
        initESW(null);
    };
    document.body.appendChild(s);
} else {
    initESW('https://service.force.com');
}
</script>
{{ end }}
