<header id="header" class="header clearfix">
    <div class="bg-gradient">
        <div class="bg-solid bluebg">
            <div class="inner">
                <div class="container top-nav">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="{{ "/" | relURL}}"><img src="/img/otter-2.jpg" alt="Otter World!"></a>
                        <div class="signin"><a href="/signin">Sign In</a></div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                {{ $currentPage := . }}
                                {{ range .Site.Menus.main }}
                                {{ if not (eq .Identifier "tags") }}
                                <li class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                                    <a class="nav-link" href="{{ .URL | relURL }}" title="{{ .Title }}">{{ .Name }}</a>
                                </li>
                                {{ else }}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ .URL | relURL }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ .Name }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {{ range $name, $taxonomy := $currentPage.Site.Taxonomies.tags }}
                                        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                                        <a class="dropdown-item" href="{{ .URL | relURL }}">{{ $name }}</a>
                                        {{ end }}
                                        {{ end }}
                                    </div>
                                </li>
                                {{ end }}
                                {{ end }}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
