<div class="row">
    <div class="col-12 col-md-9 mb-5">
        <div class="card shadow border-0 application">
    <div class="card-header">
        <h5>STEP 4 OF 4</h5>
        <div class="progress">
            <div class="progress-bar w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="card-body">
        <fieldset class="form-group personal-info">
            <div class="row mb-2">
                <legend class="col-form-label col-sm-6 pt-0">Review and Consent</legend>
                <div class="col-md-10">
                <strong>Name:</strong> Jennifer Smith<br>
                <strong>Address:</strong> 134 Main Street<br>
                <strong>City:</strong> Dallas<br>
                <strong>State:</strong> Texas<br>
                <strong>Phone:</strong> 1 (123)234-4567               
                </div>
            </div>
            <p class="mt-4"><strong>By submitting this form, you authorize Global Home Lending to obtain your credit report and contact you about this request.</strong></p>
        </fieldset>
        <a href="/"><button type="button" class="btn btn-secondary btn-md">Cancel</button></a>
        <a href="/application/step3-application"><button type="button" class="btn btn-primary btn-md">« Back</button></a>
        <a href="/application/thank-you"><button type="button" class="btn btn-danger btn-md ml-5 glance_masked">Submit</button></a>
    </div>
</div>

</div>
    <div class="col-md-3 col-6 aside-help">
        <img src="/img/homelending-pdf-thumb.jpg" class="img-thumbnail mb-2" alt="Global Home Lending Guide">
        <h2>Not sure what you need to apply?</h2>
        <p>Download this helpful guide to learn what you need to know about applying for a mortgage.</p>
        <p><button type="button" class="btn btn-success btn-md pdf-guide"><a href="/pdf/LeadingGuide.pdf" target="_blank"><i class="fas fa-file-pdf mr-2"></i> Home Lending Guide</a></button></p>
    </div>
</div>